* {
    margin: 32px, 0, 32px, 0;
}

body {
    background-color: rgb(25, 25, 25);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    font-weight: 200;
    margin: 0;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold 700;
    font-size: 3rem;
    color: rgb(235, 210, 200);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: white;
    background-color: rgb(235, 210, 200);
    padding: 10px;
}

h7 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 3em;
}

h3 {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: white;
}

main {
    display: block;
    flex-direction: column;
}

section {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 1.6% 0 1.6%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}

nav ul a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}

nav ul a:hover {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-line: underline;
    transition: 1s;
    color: rgb(235, 210, 200);
}

p {
    color: white;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: left;
    text-align: left;
    flex-wrap: wrap;
}

div {
    display: inline;
}

.active {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: rgb(235, 210, 200);
}

.titel {
    padding-left: 1.6%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    padding-left: 1.6%;
}

@media screen and (max-width: 1090px) {
    .logo {
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        height: 50px;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        height: 40px;
    }
}

@media screen and (max-width: 300px) {
    .logo {
        height: 30px;
    }
}

img {
    filter: grayscale(100%);
}

img:hover {
    filter: grayscale(0);
    transition: 1s;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

.text {
    color: black;
    font-size: 16px;
    padding-bottom: 50px;
}

.diego {
    width: 30%;
    color: black;
    padding-bottom: 20px;
}

.diego img {
    width: 100%;
}

@media screen and (max-width: 850px) {
    .diego {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .diego {
        width: 90%;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}


label .menu {
    display: none;
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: rgb(25, 25, 25);
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: white;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    label .menu {
        display: block;
    }
    nav ul {
        display: none;
    }
}


label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: white;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

label .hamburger:after,
label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: white;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked+.menu {
    box-shadow: 0 0 0 100vw rgba(25, 25, 25, 0.8);
    border-radius: 0;
}

label input:checked+.menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}

label input:checked+.menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

label input:checked+.menu+ul {
    opacity: 1;
}

label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
    list-style: none;
    text-align: center;
}

label a {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 1em;
    display: block;
    color: white;
    text-decoration: none;

}

label a:hover {
    font-family: 'Oswald', sans-serif;
    text-decoration-line: underline;
    transition: 1s;
    color: rgb(235, 210, 200);
}

.footerhight{
    background: #292929;
}
.bg-grey {
    background: #292929;
}

footer {
    color: grey;
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

footer h6 {
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    margin-bottom: 10px;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
    color: grey;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 16px;
    padding: 7px 30px;
    margin-top: 15px;
    line-height: 50px;
}

.btn-footer:hover {

    text-decoration: none;
}

.form-footertop input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 5px;
}

::placeholder {
    padding-left: 10px;
    font-style: italic;
}

.form-footer input[type="button"] {
    border: none;
    background: #232323;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}


.social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: grey;
    text-decoration: none;
    
}

footer a:hover {
    text-decoration: none;
    color: #f5f5f5;

}

footer a {
    font-size: 16px;
}
.use{
    font-weight: bold;
}


.yo {
    margin: 3px;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}


.lenscha header {
    height: 100vh;
    background-color: rgb(25, 25, 25);
}

html{
    scroll-behavior: smooth;
}

.parallax {
    background-image: url(./assets/marketing.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 1;
    display: block;
}

.parallax2 {
    background-image: url(./assets/illu.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 1;
    display: block;
}

.parallax3 {
    background-image: url(./assets/zeichnen.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 1;
    display: block;
}

.parallax4 {
    background-image: url(./assets/traum.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 1;
    display: block;
}

.parallax5 {
    background-image: url(./assets/homeseite.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 1;
    display: block;
}



main {
    display: block;
    flex-direction: column;
}



.welcome {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: rgb(235, 210, 200);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    height: 100vh;
}

nav.home {
    margin: 32px, 8px, 32px, 8px;
}

.gross {
    font-size: 7rem;
    padding-right: 60px;
    position: sticky;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 60px;
    height: 100vh;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    padding-right: 60px;
    height: 100vh;
}

.left p,
.right p {
    width: 400px;
}

@media screen and (max-width: 600px) {
    .left p,
    .right p {
        width: 270px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .left {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0;
    }

    .right {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0;
    }
}

p {
    color: white;
}

a {
    text-decoration-line: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: azure;
}

#start {
    background-color: rgb(25, 25, 25);
    background-attachment: fixed;
    background-size: cover;
    color: azure;
    background-color: rgb(25, 25, 25);
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    margin: 0;
}

footer {
    background-color: rgb(25, 25, 25);
    padding: 20px;
}

.footer-basic {
    padding: 40px 0;
    background-color: rgb(25, 25, 25);
    color: white;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    font-family: 'Oswald', sans-serif;
    color: white;
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.footer-basic ul a:hover {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-decoration-line: underline;
    transition: 1s;
    color: rgb(235, 210, 200);
}

.footer-basic {
    text-align: center;
    
}

.yo {
    margin: 3px;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}


label .menu {
    display: none;
    position: absolute;
    margin-left: 94%;
    top: -100px;
    z-index: 100;
    background: rgb(25, 25, 25);
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: white;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    label .menu {
        display: block;
    }

    nav ul {
        display: none;
    }
}












html,
body {
    height: 100%;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
}

#thanks {
    background-color: #fff;
}

#thanks::after {
    content: none;
}

#thanks div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#thanks h2 {
    margin-bottom: 60px;
    color: #333;
    font: normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
}

#thanks p {
    color: #333;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
}

#thanks p a {
    color: #333;
    text-decoration: none;
    transition: color .3s;
}

#thanks p a:hover {
    color: #888;
}

.index {
    font-size: 5rem;
    margin: 0;
}

.intro {
    font-size: 1.2rem;
}

.demo a {
    position: absolute;
    left: 50%;
    top: 85vh;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font: normal 400 20px/1 'Oswald', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .7;
}



#section01 a {
    padding-top: 60px;
}

#section01 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}



#section02 a {
    padding-top: 60px;
}

#section02 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#section02 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}



#section03 a {
    padding-top: 60px;
}

#section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb03 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}




#section04 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

#section05 a {
    padding-top: 70px;
}

#section05 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

#carouselExampleCaptions{
    width: 500px;
}